// variables

$standard: #006992;
$white: #f1f2f2;
$transition: all 0.25s ease-in-out;
$width70: 70%;
$width40: 40%;
$em125: 1.25em;
$em09: 0.5em;

// mixin
@mixin mybutton($color_1, $color_2, $width, $em) {
  width: $width;
  margin: 10px;
  border: 2px solid $color_1;
  padding: 6px 12px;
  font-size: $em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color_1;
  cursor: pointer;
  background-color: $color_2;
  transition: $transition;
  &:hover {
    background-color: $color_1;
    border-color: $color_1;
    color: $color_2;
  }
  &:active {
    background-color: $color_1;
    border-color: $color_1;
    color: $color_2;
    box-shadow: none;
    transform: scale(0.95);
  }
  &:focus,
  &:active:focus {
    background-color: $color_1;
    border-color: $color_1;
    color: $color_2;
    outline: 5px auto $color_1;
  }
  &:visited {
    background-color: $color_1;
    border-color: $color_1;
  }
}

.loginCard {
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  width: 30vw;
  height: 50vh;
  margin: 10% auto 0;
  border-radius: 5px;
  .login__img {
    width: 40%;
    margin-left: 5%;
    border-right: black solid 2px;
  }
  .input {
    margin: 3%;
  }
  .login__inputcontainer {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .buttonStandard {
      @include mybutton($standard, $white, $width70, $em125);
    }
    .buttonDownsized {
      @include mybutton($standard, $white, $width40, $em09);
    }
  }
  .button__container {
    width: 100%;
  }
}
